<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SitioWeb-20180703110611.mdf;Initial Catalog=aspnet-SitioWeb-20180703110611;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      El proveedor de pertenencia de ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      El perfil de pertenencia de ASP.NET está deshabilitado en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        La gestión de roles del sistema de pertenencia de ASP.NET está deshabilitada en esta plantilla. Visite el vínculo siguiente http://go.microsoft.com/fwlink/?LinkId=301889 para obtener información sobre la compatibilidad con la pertenencia a ASP.NET en esta plantilla
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            Si la implementación se realiza en un entorno de nube con varias instancias de servidor web,
            debería cambiar el modo de estado de sesión de "InProc" a "Custom". Además, cambie también
            la cadena de conexión con el nombre "DefaultConnection" para conectarse a una instancia de
            SQL Server (incluidos SQL Azure y SQL Compact) en lugar de conectarse a SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_EmpleadoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_EmpresaSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_ErroresSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_EstadocivilSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_GrupoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_GrupousuarioSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_LoginuserSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_MediaSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_NivelestudioSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_PaginaSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_PaginagrupoSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_ParametrosSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_ProcesoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_ProveedorSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_RolSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_SexoSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="WS_TipocomentarioSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_TipoiconoimgSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_TipoidentificacionSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_TipopersonaSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_TiposerviciotecnicoSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_ServiciotecnicoSoap" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WS_ClienteSoap" />
        <binding name="WS_MenuSoap" />
        <binding name="WS_ProcesotipocomentarioSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Empleado.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_EmpleadoSoap"
        contract="WS_Empleado.WS_EmpleadoSoap" name="WS_EmpleadoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Empresa.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_EmpresaSoap"
        contract="WS_Empresa.WS_EmpresaSoap" name="WS_EmpresaSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Errores.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ErroresSoap"
        contract="WS_Errores.WS_ErroresSoap" name="WS_ErroresSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Estadocivil.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_EstadocivilSoap"
        contract="WS_Estadocivil.WS_EstadocivilSoap" name="WS_EstadocivilSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Grupo.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_GrupoSoap"
        contract="WS_Grupo.WS_GrupoSoap" name="WS_GrupoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Grupousuario.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_GrupousuarioSoap"
        contract="WS_Grupousuario.WS_GrupousuarioSoap" name="WS_GrupousuarioSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Loginuser.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_LoginuserSoap"
        contract="WS_Loginuser.WS_LoginuserSoap" name="WS_LoginuserSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Media.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_MediaSoap"
        contract="WS_Media.WS_MediaSoap" name="WS_MediaSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Nivelestudio.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_NivelestudioSoap"
        contract="WS_Nivelestudio.WS_NivelestudioSoap" name="WS_NivelestudioSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Pagina.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_PaginaSoap"
        contract="WS_Pagina.WS_PaginaSoap" name="WS_PaginaSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Paginagrupo.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_PaginagrupoSoap"
        contract="WS_Paginagrupo.WS_PaginagrupoSoap" name="WS_PaginagrupoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Parametros.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ParametrosSoap"
        contract="WS_Parametros.WS_ParametrosSoap" name="WS_ParametrosSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Proceso.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ProcesoSoap"
        contract="WS_Proceso.WS_ProcesoSoap" name="WS_ProcesoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Proveedor.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ProveedorSoap"
        contract="WS_Proveedor.WS_ProveedorSoap" name="WS_ProveedorSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Rol.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_RolSoap"
        contract="WS_Rol.WS_RolSoap" name="WS_RolSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Sexo.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_SexoSoap"
        contract="WS_Sexo.WS_SexoSoap" name="WS_SexoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Tipocomentario.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_TipocomentarioSoap"
        contract="WS_Tipocomentario.WS_TipocomentarioSoap" name="WS_TipocomentarioSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Tipoiconoimg.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_TipoiconoimgSoap"
        contract="WS_Tipoiconoimg.WS_TipoiconoimgSoap" name="WS_TipoiconoimgSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Tipoidentificacion.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_TipoidentificacionSoap"
        contract="WS_Tipoidentificacion.WS_TipoidentificacionSoap" name="WS_TipoidentificacionSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Tipopersona.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_TipopersonaSoap"
        contract="WS_Tipopersona.WS_TipopersonaSoap" name="WS_TipopersonaSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Tiposerviciotecnico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_TiposerviciotecnicoSoap"
        contract="WS_Tiposerviciotecnico.WS_TiposerviciotecnicoSoap"
        name="WS_TiposerviciotecnicoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Serviciotecnico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ServiciotecnicoSoap"
        contract="WS_Serviciotecnico.WS_ServiciotecnicoSoap" name="WS_ServiciotecnicoSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Cliente.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ClienteSoap"
        contract="WS_Cliente.WS_ClienteSoap" name="WS_ClienteSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Menu.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_MenuSoap"
        contract="WS_Menu.WS_MenuSoap" name="WS_MenuSoap" />
      <endpoint address="http://localhost:51121/MVC/Vista/WS_Procesotipocomentario.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_ProcesotipocomentarioSoap"
        contract="WS_Procesotipocomentario.WS_ProcesotipocomentarioSoap"
        name="WS_ProcesotipocomentarioSoap" />
    </client>
  </system.serviceModel>
</configuration>